{% extends "base_template.html" %}
{% block content %}
<div id="colonne1"></div>
<div id="colonne2"></div>
<div id="centre">
	<div id="address">
		<h1>Bienvenue</h1>
		<p>
		 Trouvez la gare la plus proche d'une adresse :
		</p>
		<form name="addressForm" action="" method="post">
		  {{ form.hidden_tag() }}
		  {{ form.address(size=80, value="Entrez une adresse") }}
		  <input type='submit' value="Submit"/>
		</form>
		<p>
		{% if error != ""%}
		Error : {{error}}
		{% endif %}
		</p>
	</div>
	<div id="result">
		{% if address != "" %}
			<h1>Résultat de votre recherche</h1>
			<p>
				Adresse : {{address}}
				Gare la plus proche : {{station._get_prettyName()}}
			</p>
			<p>
				Coordonnées GPS de la gare :
			<ul>
				<li>Latitude : {{station._get_latitude()}}
				<li>Longitude : {{station._get_longitude()}}
			</ul> 
			</p>
		{% endif %}
	</div>
</div>
{% endblock %}
